<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>영화관 관련 쿼리문</comment>
	
	<entry key="selectListCount">
		SELECT COUNT(*) COUNT
		  FROM THEATER
	</entry>
	
	<entry key="selectList">
		SELECT *
			FROM (
				SELECT ROWNUM RNUM, A.*
				FROM (
						SELECT *
						 FROM THEATER
						ORDER 
		 				   BY THEATER_NO DESC) A)
				WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectTheater">
		SELECT * 
		  FROM THEATER
		 WHERE THEATER_NO = ?
	</entry>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</properties>