<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/05_z01_admin_movietheater.css">
    <title>관리자 - 영화관 목록</title>
</head>
<body>
    <div id="container">
        <div class="menubar">
            <div id="logo">
                <img src="/resources/image/cinema_logo900.jpg" alt="">
            </div>
            <div id="menutab">
                <ul>
                    <li>회원관리</li>
                    <li>영화 목록 관리</li>
                    <li>영화 리뷰관리</li>
                    <li>
                        영화관 관리
                        <li>- 등록된 영화관</li>
                        <li>- 영화관 등록</li>
                        <li>- 영화관 수정</li>
                    </li>
                    <li>고객센터</li>
                    <li>투표</li>
                </ul>
            </div>
        </div>
        <div id="content_wrap">
            <div id="content_1">
                <div id="title">
                    <h2>등록된 영화관</h2>
                </div>
                    <div id="add_delete_btn_div">
                        <button>영화관 추가</button>
                        <button>영화관 삭제</button>
                    </div>
            </div>
            <div id="content_2">
                <table border="1">
                    <thead>
                        <tr>
                            <th><input type="checkbox"></th>
                            <th>No.</th>
                            <th>영화관명</th>
                            <th>주소</th>
                            <th>전화번호</th>
                            <th>등록일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>1</td>
                            <td>CGV 압구정</td>
                            <td>서울시 어쩌구 저쩌구 어쩌구 저쩌구</td>
                            <td>1577-1122</td>
                            <td>2022-01-15</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>1</td>
                            <td>CGV 압구정</td>
                            <td>서울시 어쩌구</td>
                            <td>1577-1122</td>
                            <td>2022-01-15</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>1</td>
                            <td>CGV 압구정</td>
                            <td>서울시 어쩌구</td>
                            <td>1577-1122</td>
                            <td>2022-01-15</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>1</td>
                            <td>CGV 압구정</td>
                            <td>서울시 어쩌구</td>
                            <td>1577-1122</td>
                            <td>2022-01-15</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>1</td>
                            <td>CGV 압구정</td>
                            <td>서울시 어쩌구</td>
                            <td>1577-1122</td>
                            <td>2022-01-15</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>1</td>
                            <td>CGV 압구정</td>
                            <td>서울시 어쩌구</td>
                            <td>1577-1122</td>
                            <td>2022-01-15</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>1</td>
                            <td>CGV 압구정</td>
                            <td>서울시 어쩌구</td>
                            <td>1577-1122</td>
                            <td>2022-01-15</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>1</td>
                            <td>CGV 압구정</td>
                            <td>서울시 어쩌구</td>
                            <td>1577-1122</td>
                            <td>2022-01-15</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>1</td>
                            <td>CGV 압구정</td>
                            <td>서울시 어쩌구</td>
                            <td>1577-1122</td>
                            <td>2022-01-15</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div id="content_3">
                <div>
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                </div>
            </div>
        </div>
    </div>





    
</body>
</html>