div {
    border: 1px solid black;
    display: block;
} 
/* ------------------------------------------------ */
/* container영역 */
#container {
    width: 1200px;
    height: auto;
    margin: auto;
}
#container>div{
    float: left;
}
.menutab{
    width: 20%;
}

#content_wrap{
    width: 79%;
    height: 100%;
}
#content_1{
    width: 100%;
    height: 10%;
}
#content_1>div{
    float: left;
}
#title{
    width: 100%;
    height: 100%;
}
#title>h2{
    padding-left: 35px;
    padding-top: 10px;
}
#content_2{
    width: 100%;
    height: 30%; /*30%*/
}
#content_2>div{
    float: left;
}
.input_info{
    width: 50%;
}
#movietheater_file{
    width: 100%;
    height: 100%;
}
#movietheater_info{
    width: 100%;
    height: 100%;
    line-height: 30px;
}
#movietheater_info>div{
    float: left;
}
#input_ment{
    width: 20%;
    line-height: 36px;
}
#input_tag{
    width: 69%;
}
#content_3{
    width: 100%;
    height: 450px; /*50%*/
}
#ex_info{
    width: 80%;
    margin: auto;
}
#ex_info>textarea{
    width: 500px;
    height: 80px;
}
#content_4{
    width: 100%;
    height: 90px;
}
#content_4>div{
    width: 30%;
    height: 100%;
    margin-left: 600px;
}




